* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00b1aa;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

.top-header {
  position: fixed;
  padding: 30px 60px;
}

.top-header .logo .logo-image {
  margin-right: 20px;
}

section.block {
  min-height: 100vh;
  text-align: center;
}

section.block h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
}

section.block h2 {
  font-size: 30px;
  font-weight: 700;
}

section.block p {
  font-size: 25px;
  font-weight: 500;
}

.main-hero {
  height: 100vh;
}

.about-us {
  background-color: #96ffff;
}

.technologies {
  background-image: linear-gradient(180deg, #ab9dff 90.84%, #8672ff 100%);
  padding: 200px;
}

.technologies > *:not(last-child) {
  margin-bottom: 30px;
}

.team {
  background-color: #e7f590;
}

.contact {
  background-color: #9aff77;
}
