* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00b1aa;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

.top-header {
  z-index: 2;
  width: 100%;
  position: fixed;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header .logo .logo-image {
  margin-right: 20px;
}

section.block {
  min-height: 100vh;
}

.main-hero {
  height: 100vh;
}

.about-us {
  background-color: #96ffff;
}

.technologies {
  background-color: #c7bdff;
}

.team {
  background-color: #e7f590;
}

.contact {
  background-color: #9aff77;
}

nav{
  align-items: center;
  display: flex;
  gap: 50px;
}

nav a{
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

nav button{
  font-weight: 800;
  border: none;
  padding: 11px 14px;
  background: black;
  color: white;
  border-radius: 12px;
}

.main-hero__wrapper{
  height: 100%;
  padding: 0 60px;
  display: flex;
}

.main-hero__wrapper img{
  max-width: 50%;
}

.hero-left{
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.cloud-one{
  left: 0;
  position: absolute;
  top: 75px;
}

.cloud-two{
  left: 175px;
  position: absolute;
  top: 225px;
}

.cloud-three{
  left: 370px;
  position: absolute;
  top: 85px;
}

.hero-text{
  z-index: 1;
}

.hero-text h1{
  font-size: 50px;
  color: white;
  font-weight: 800;
}

.hero-text p{
  font-size: 20px;
  font-weight: 800;
}

.hero-text__description{
  margin-top: 44px;
}
